certifi==2021.5.30
charset-normalizer==2.0.6
colorama==0.4.4
decorator==4.4.2
docutils==0.17.1
idna==3.2
imageio==2.9.0
imageio-ffmpeg==0.4.5
imutils==0.5.4
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivymd==0.104.2
moviepy==1.0.3
numpy==1.18.3
opencv-python==4.5.3.56
Pillow==8.3.1
proglog==0.1.9
Pygments==2.10.0
pypiwin32==223
pywin32==301
requests==2.26.0
tqdm==4.62.2
urllib3==1.26.6
